.footerlinks {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #3d3d3d;
    color: #ffffff;
    padding: 20px;
}

#footer2 {
    background: #5c5c5c;
    color: #ffffff;
    padding: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #222222;
    padding: 20px;
}

.footer-logo {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.footer-link {
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-links {
        margin-top: 20px;
    }

    .footer-link {
        margin: 0 10px;
    }
}
